* { 
    font-family:'Poppins', sans-serif; 
}

.navigation-container {
    padding: 20px;
}

a {
   text-decoration: none;
   color: black; 
}

/* a is linktag */

.list {
    display: flex;
    align-items: center;     
}


li {
    list-style: none;
    padding-right: 10px;
}

.list img {

    padding-right: 200px;
}

.btn-signin {
    width: 102px; 
    height: 46px;
    background-color:#FFFFFF;
    font-style: 600;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 30px;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
}

.btn-signup {
    border-style: none;
    width: 102px; 
    height: 46px;
    background-color:#FF9900;
    font-weight: normal;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
}



.header-container {
    
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 40px;
    justify-content: left;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.button { 
    width: 173px;
    height: 53px;
    background-color: #FF9900;
    font-weight: normal;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    border-style: none;
    margin-top: 20px ;
}

.header-button {
    display: inline;
    width: 366px;
    height: 53px;
    flex-direction: row; 
    margin-top: 40px;
}
.button img {
    padding: 10px;
}


.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 40px;

}
.feature-header {
    display: flex;
    flex-direction: row;
    width: 539px;
    margin-bottom: 20px;
}

.feature-content {
    
    display: flex;
    max-width: 1095px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.first-content, .second-content, .third-content, .last-content {
    padding-right: 20px;

}

.feature-button {
    margin-top: 30px;
}

.effortless-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 40px;
    justify-content: left
}

.easier-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 40px;
    justify-content: left
}

.easier-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
span {
    margin-right: 10px;
}

.optimism-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 40px;
    justify-content: left;
}

.optimism-text {
    
    margin-right: 20px;

}
   
.footer-container {

    display: flex;
    flex-direction: row;
    height: 308px;
    padding: 40px;
    margin: 40px;
    justify-content: space-between;
    align-items: flex-end;
}  

.footer-logo {
    display: flex;
    align-self: flex-start;
}

.footer-list-about-us {
    line-height: 2.3;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.footer-list-disclaimer {
    line-height: 2.3;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}

.footer-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: flex-start;
    
    
}

.squere {
    display: flex;
    width: 325px;
    height: 48px;
    border-style: solid;
    border-color:#BCD0E5
    
}





/* 
.footer-list-about-us {
    display: flex;
}

.footer-list-disclaimer {
    display: flex;
    
}

.footer-button-signup {
    display: flex;

} 

*/





    


